.imagen-portada {
    height: 15rem;
}
.titulo-encabezado {
    text-align: center;
    padding-top: 4rem;
}
.tarjeta {
    background-color: #f7f7f7; 
}
.hover-tarjeta>div:hover {
    filter: drop-shadow(0.3px 0.3px 1px rgb(94, 93, 93));
    transform: scale(0.98);
}
.border-card {
    border-top: 0.5rem black solid;
}
.card-titulo {
    font-family: 'Playfair Display', serif;
}
.card-texto {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}
.sidebar {
    margin-left: 50rem;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.aside {
    background-color: #f7f7f7; 
    
}